<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--跨域设置-->
    <filter>
    <filter-name>OriginFilter</filter-name>
    <filter-class>com.forum.filters.OriginFilter</filter-class>
</filter>
    <filter-mapping>
        <filter-name>OriginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<!--登录验证  除登录注册外都要验证-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.forum.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
<!--    验证码-->
    <servlet>
        <servlet-name>kaptcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kaptcha</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>
<!--    管理员登录-->
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.forum.ctrl.LoginAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
<!--    用户登录-->
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.forum.ctrl.LoginUserCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
<!--    用户注册-->
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.forum.ctrl.RegisterUserCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
<!--    分页查询帖子-->
    <servlet>
        <servlet-name>FindForumByPage</servlet-name>
        <servlet-class>com.forum.ctrl.FindForumByPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindForumByPage</servlet-name>
        <url-pattern>/FindForumByPage</url-pattern>
    </servlet-mapping>
<!--    删除帖子-->
    <servlet>
        <servlet-name>DelForumByUser</servlet-name>
        <servlet-class>com.forum.ctrl.DelForumByUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelForumByUser</servlet-name>
        <url-pattern>/admin/DelForumByUser</url-pattern>
    </servlet-mapping>
<!--    发表评论-->
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>com.forum.ctrl.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/admin/AddComment</url-pattern>
    </servlet-mapping>
<!--    删除评论-->
    <servlet>
        <servlet-name>DelComment</servlet-name>
        <servlet-class>com.forum.ctrl.DelComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelComment</servlet-name>
        <url-pattern>/admin/DelComment</url-pattern>
    </servlet-mapping>
<!--    发表帖子-->
    <servlet>
        <servlet-name>AddForum</servlet-name>
        <servlet-class>com.forum.ctrl.AddForum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddForum</servlet-name>
        <url-pattern>/admin/AddForum</url-pattern>
    </servlet-mapping>
<!--    根据fid和userId查询对应的评论-->
    <servlet>
        <servlet-name>FindCommentByUserId</servlet-name>
        <servlet-class>com.forum.ctrl.FindCommentByUserId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindCommentByUserId</servlet-name>
        <url-pattern>/FindCommentByUserId</url-pattern>
    </servlet-mapping>
<!--    分页查询所有用户-->
    <servlet>
        <servlet-name>FindAllUser</servlet-name>
        <servlet-class>com.forum.ctrl.FindAllUserByPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllUser</servlet-name>
        <url-pattern>/admin/FindAllUser</url-pattern>
    </servlet-mapping>
<!--    查询所有用户（userId,nickName）-->
    <servlet>
        <servlet-name>FindUserList</servlet-name>
        <servlet-class>com.forum.ctrl.FindUserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindUserList</servlet-name>
        <url-pattern>/admin/FindUserList</url-pattern>
    </servlet-mapping>
<!--    修改用户-->
    <servlet>
        <servlet-name>UpdateForumUser</servlet-name>
        <servlet-class>com.forum.ctrl.UpdateForumUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateForumUser</servlet-name>
        <url-pattern>/admin/UpdateForumUser</url-pattern>
    </servlet-mapping>
<!--    删除用户-->
    <servlet>
        <servlet-name>DelForumUser</servlet-name>
        <servlet-class>com.forum.ctrl.DelForumUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelForumUser</servlet-name>
        <url-pattern>/admin/DelForumUser</url-pattern>
    </servlet-mapping>
<!--    修改用户状态-->
    <servlet>
        <servlet-name>UpdateUserState</servlet-name>
        <servlet-class>com.forum.ctrl.UpdateUserState</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserState</servlet-name>
        <url-pattern>/admin/UpdateUserState</url-pattern>
    </servlet-mapping>
<!--    分页查询所有类型-->
    <servlet>
        <servlet-name>FindAllAreaTypeByPage</servlet-name>
        <servlet-class>com.forum.ctrl.FindAllAreaType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllAreaTypeByPage</servlet-name>
        <url-pattern>/admin/FindAllAreaTypeByPage</url-pattern>
    </servlet-mapping>
<!--    所有类型-->
    <servlet>
        <servlet-name>FindAllTypeByUser</servlet-name>
        <servlet-class>com.forum.ctrl.FindAllTypeByUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllTypeByUser</servlet-name>
        <url-pattern>/FindAllTypeByUser</url-pattern>
    </servlet-mapping>
<!--    修改类型-->

    <servlet>
        <servlet-name>UpdateTypeName</servlet-name>
        <servlet-class>com.forum.ctrl.UpdateTypeName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTypeName</servlet-name>
        <url-pattern>/admin/UpdateTypeName</url-pattern>
    </servlet-mapping>
    <!--    删除类型-->

    <servlet>
        <servlet-name>DelAreaType</servlet-name>
        <servlet-class>com.forum.ctrl.DelAreaType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelAreaType</servlet-name>
        <url-pattern>/admin/DelAreaType</url-pattern>
    </servlet-mapping>
<!--    添加类型-->
    <servlet>
        <servlet-name>AddTypeName</servlet-name>
        <servlet-class>com.forum.ctrl.AddTypeName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTypeName</servlet-name>
        <url-pattern>/admin/AddTypeName</url-pattern>
    </servlet-mapping>
<!--    修改用户头像-->
    <servlet>
        <servlet-name>UpdateUserPic</servlet-name>
        <servlet-class>com.forum.ctrl.UpdateUserPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserPic</servlet-name>
        <url-pattern>/admin/UpdateUserPic</url-pattern>
    </servlet-mapping>
<!--    收藏帖子-->
    <servlet>
        <servlet-name>AddCollectForum</servlet-name>
        <servlet-class>com.forum.ctrl.AddCollectForum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCollectForum</servlet-name>
        <url-pattern>/admin/AddCollectForum</url-pattern>
    </servlet-mapping>
<!--    分页获取收藏帖子列表-->
    <servlet>
        <servlet-name>FindCollectByUser</servlet-name>
        <servlet-class>com.forum.ctrl.FindCollectByUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindCollectByUser</servlet-name>
        <url-pattern>/admin/FindCollectByUser</url-pattern>
    </servlet-mapping>
<!--    删除收藏-->
    <servlet>
        <servlet-name>DelCollect</servlet-name>
        <servlet-class>com.forum.ctrl.DelCollect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelCollect</servlet-name>
        <url-pattern>/admin/DelCollect</url-pattern>
    </servlet-mapping>
<!--   添加举报的信息-->
    <servlet>
        <servlet-name>AddReportComment</servlet-name>
        <servlet-class>com.forum.ctrl.AddReportComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReportComment</servlet-name>
        <url-pattern>/admin/AddReportComment</url-pattern>
    </servlet-mapping>
<!--    管理员获取消息列表-->
    <servlet>
        <servlet-name>FindMsgListAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.FindMsgListAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindMsgListAdmin</servlet-name>
        <url-pattern>/admin/FindMsgListAdmin</url-pattern>
    </servlet-mapping>
<!--    管理员发送消息-->
    <servlet>
        <servlet-name>AddMsgByAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.AddMsgByAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMsgByAdmin</servlet-name>
        <url-pattern>/admin/AddMsgByAdmin</url-pattern>
    </servlet-mapping>
<!--    从管理员表删除消息-->
    <servlet>
        <servlet-name>DelMsgFromAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.DelMsgFromAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelMsgFromAdmin</servlet-name>
        <url-pattern>/admin/DelMsgFromAdmin</url-pattern>
    </servlet-mapping>
<!--    管理员获取帖子部分信息-->
    <servlet>
        <servlet-name>FindForumByAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.FindForumByAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindForumByAdmin</servlet-name>
        <url-pattern>/admin/FindForumByAdmin</url-pattern>
    </servlet-mapping>
<!--    修改帖子状态-->
    <servlet>
        <servlet-name>UpdateForumState</servlet-name>
        <servlet-class>com.forum.ctrl.UpdateForumState</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateForumState</servlet-name>
        <url-pattern>/admin/UpdateForumState</url-pattern>
    </servlet-mapping>
<!--    删除帖子(不合法的)-->
    <servlet>
        <servlet-name>DelForumByAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.DelForumByAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelForumByAdmin</servlet-name>
        <url-pattern>/admin/DelForumByAdmin</url-pattern>
    </servlet-mapping>
<!--    获取举报列表  admin-->
    <servlet>
        <servlet-name>FindReportByAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.FindReportByAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindReportByAdmin</servlet-name>
        <url-pattern>/admin/FindReportByAdmin</url-pattern>
    </servlet-mapping>
<!--    删除举报信息-->
    <servlet>
        <servlet-name>DelReportAdmin</servlet-name>
        <servlet-class>com.forum.ctrl.DelReportAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelReportAdmin</servlet-name>
        <url-pattern>/admin/DelReportAdmin</url-pattern>
    </servlet-mapping>
<!--    用户查看消息列表-->
    <servlet>
        <servlet-name>FindMsgListUser</servlet-name>
        <servlet-class>com.forum.ctrl.FindMsgListUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindMsgListUser</servlet-name>
        <url-pattern>/admin/FindMsgListUser</url-pattern>
    </servlet-mapping>
<!--    用户删除消息-->
    <servlet>
        <servlet-name>DelMsgFromUser</servlet-name>
        <servlet-class>com.forum.ctrl.DelMsgFromUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelMsgFromUser</servlet-name>
        <url-pattern>/admin/DelMsgFromUser</url-pattern>
    </servlet-mapping>
<!--用户重新发送失败的帖子-->
    <servlet>
        <servlet-name>ResendForumByUser</servlet-name>
        <servlet-class>com.forum.ctrl.ResendForumByUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResendForumByUser</servlet-name>
        <url-pattern>/admin/ResendForumByUser</url-pattern>
    </servlet-mapping>
</web-app>